@media (max-width: 973px) {
    .nav-list__item {
        margin-right: 40px;
      }
    .nav__logo{
        margin-right: 20px;
    }
    body{
        font-size: 14px;
    }
}
@media (max-width: 883px) {
    .aboutme-img{
        display: none;
    }
    .nav {
        display: none;
    }
    .aboutme-content{
        margin-left: auto;
    }
    .games-box{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 800px) {
    
    .footer-all{
        display: block;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
    }
    .footer-logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-contacts{
        padding-top: 0;
        padding-bottom: 10px;
    }
    .footer-dev{
        text-align: center;
    }
    .dev-name {
        text-align: center;
        font-size: 16px;
    }
    .footer-contacts__text{
        font-size: 16px;
    }
}
@media (max-width: 713px) {
    .games-box{
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 610px) {
        .nav__logo{
            text-align: center;
        }
        .social-pic{
            margin-right: 40px;
        }

        .social-img{
            margin-bottom: 20px;
            margin-right: 5px;
 
        }
        
}
@media (max-width: 610px) {
    .games-box{
        width: 100px;
        height: 100px;
    }
}


